<h1 class="h1-test">ブログ一覧</h1>
<!--<div class = container>-->
    <p><%= notice %></p>
    <div class = row>
            <table>
                <% @blogs.each do |blog| %>
                <tbody class="col-md-6 button-space">
                <tr>
                    <th class="col-md-6">タイトル</th>
                    <th class="col-md-6">内容</th>
                </tr>
                    <tr>
                        <th class="col-md-6"><%= blog.title %></th>
                        <th class="col-md-6"><%= blog.content %></th>
                    </tr>
                    <tr class="col-md-12">
                        <th class="col-md-4"><%= link_to '確認する', blog_path(blog.id), class: 'btn btn-default' %></th>
                        <th class="col-md-4"><%= link_to '編集する', edit_blog_path(blog.id), class: 'btn btn-info'%></th>
                        <th class="col-md-4"><%= link_to '削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-success' %></th>
                    </tr>
                    </tbody>
                <% end %>
                
            </table>
    <!--</div class = submit>-->
    </div>
    <%= link_to '新しくブログを投稿する', new_blog_path, class: 'btn btn-default'  %>
<!--</div>-->
